<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
    <div class="padding">    
        <button class="button button-block button-calm" ng-click="exceptionNetwork()">
            get more Feed
        </button>
      </div>  
    <div class="padding"> 
        <button class="button button-block button-royal" ng-click="login()">
            Login
        </button>
        <button class="button button-block button-assertive" ng-click="logout()">
            Logout
        </button>
    </div>  
  </ion-content>    
</ion-view>

<script id="name.html" type="text/ng-template" controller="DashCtrl">
  <div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-positive">
      <h1 class="title">Name</h1>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content padding="true">
       <div class="list">
          <label class="item item-input">
            <input ng-model="user" type="text" placeholder="Name">
          </label>
              <button class="button button-positive button-block" ng-click="closeModal(user)">
                  Ok
              </button>   
        </div>
    </ion-content>
    </div>
</script>

