/* Empty. Add your own CSS if you like */

.more-info {
  color: #999999!important;
  font-size: 12px;
}

.icon.icon-stable:before {
    color: #f8f8f8;
 }
.icon.icon-positive:before {
    color: #387ef5;
 }
.icon.icon-calm:before {
    color: #11c1f3;
 }
.icon.icon-assertive:before {
    color: #ef473a;
 }
.icon.icon-balanced:before {
    color: #33cd5f;
 }
.icon.icon-energized:before {
    color: #ffc900;
 }
.icon.icon-royal:before {
    color: #886aea;
 }
.icon.icon-dark:before {
    color: #444;
 }

.scroll-to-top {
  position: fixed;
  bottom: 18px;
  right: 18px;
  z-index: 100;
  background-color: #387ef5;
  width: 40px;
  text-align: center;
  border-radius: 15%;
  height: 41px;
  transition:All 1s ease;
 -webkit-transition:All 1s ease;
 -moz-transition:All 1s ease;
 -o-transition:All 1s ease;
  opacity: 0;    
}

.show {
    opacity: 1;
}

.scroll-to-top i {
  font-size: 35px;
  color: #FFFFFF;
  line-height: 40px;
}

.item.item-text-center {
    text-align: center;
}

.item.item-error > p {
  overflow: visible;
  text-overflow: initial;
  white-space: normal;
}

.modal .item > p {
    white-space: normal; 
}

.item pre {
  font-size: 11px;
  line-height: 12px;
}

.loading-container .loading {
    background-color: transparent;
}

.spinner svg {
  stroke: #387ef5;
  fill: #387ef5;
}

.hidden {
    position: fixed;
    left: -100%;
}

.header-assertive .popup-head {
    background-color: #ef473a;
    border-color: #e42012;
}

.header-positive .popup-head > h3,
.header-assertive .popup-head > h3 {
    color: #FFFFFF!important;
}

.header-positive .popup-head {
   border-color: #0c63ee;
   background-color: #387ef5;
}