<ion-view view-title="MyRemoteDebugger"> 
  <ion-content scroll-detector>
    <div class="scroll-to-top" ng-click="scrollTop()"><i class="ion-arrow-up-a icon"></i></div>   
    <ion-list>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search"  ng-model="searchText">
      </label>
    </ion-list>
    <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
        <a class="item item-icon-left item-icon-right"
           href="#/tab/chats/{{chat.id}}"
           ng-repeat="session in sessions | orderBy:['startDate','startTime']:'reverse' | filter:searchText">
            <i class="icon ion-person {{session.color}}"></i>
              {{session.user}} 
              <div class="more-info">{{session.startDate | date:'MM/dd/yy'}} - {{session.startTime}} - {{session.sessionId}}</div>
            <i class="icon ion-chevron-right"></i>
          </a>

          <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-steam"></i>
            Trace
            <i class="icon ion-chevron-right"></i>  
          </a>

          <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-information-circled"></i>
            Info
             <i class="icon ion-chevron-right"></i>
          </a>

          <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-alert-circled"></i>
             Warn
             <i class="icon ion-chevron-right"></i>
          </a>
          <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-code"></i>
             Debug
             <i class="icon ion-chevron-right"></i>
          </a>
          <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-close-circled"></i>
             Error
             <i class="icon ion-chevron-right"></i>
          </a>
          <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-close-circled"></i>
             Exception
             <i class="icon ion-chevron-right"></i>
          </a>    
    </ion-list>
  </ion-content>
</ion-view>
